<p>sidenav works!</p>
<button  class="menu-button" mat-raised-button >uihseugjospdfjmv</button>
<button  class="menu-button" mat-raised-button color="primary">uihseugjospdfjmv</button>
<button  class="menu-button"  mat-raised-button color="primary">uihseugjospdfjmv</button>
<button class="menu-button"  mat-raised-button color="primary">uihseugjospdfjmv</button>

<mat-divider> </mat-divider>

<button class="menu-button"  mat-raised-button color="primary">uihseugjospdfjmv</button>
<button class="menu-button"  mat-raised-button color="primary">uihseugjospdfjmv</button>