mat-card{
    background: transparent;
    align-items: flex-start;
    width: 500px;
    height: 500px;
    outline: none;
    box-shadow: none !important;
    color: black;
}

.product-img{
    width: 450px;
    height: 300px;
}