
    <mat-card class="content mat-elevation-z4">
                <button mat-button style="background: rgb(192, 187, 187); float: right;"><mat-icon>plus</mat-icon> ADD</button>
        <mat-form-field>
            <mat-label>
                All products
            </mat-label>
            <input appearance="outline" mat-input placeholder="Enter Products" type="text" >
        </mat-form-field>


        <mat-list>
            <mat-list-item *ngFor="let product of products" class="text">
                <span style="font-weight: bold;">{{product.id}}. {{product.name}}</span>
                <span style="position: absolute;right:0;">
                    <button mat-icon-button><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button><mat-icon>delete</mat-icon></button>
                    
                </span>
            </mat-list-item>
        </mat-list>

    </mat-card>

